.contact-page-header {
  background: #edf4ff;
  padding-top: 3rem;
}

.contact-form-wrapper .row {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 80vw;
}

@media screen and (min-width: 768px) {
  .contact-form-wrapper .row {
    flex-direction: row;
    width: 80vw;
    justify-content: center;
  }
}

.btn-submit,
.labels,
.right-tab {
  display: inline-block;
}

.form-heading {
  text-align: center;
  border-bottom: 3px solid #ddd;
  margin-bottom: 30px;
  padding-bottom: 50px;
  padding-top: 50px;
  color: #0054b0;
  font-size: 2.2rem;
  font-weight: 900;
}
.labels {
  text-align: left;
  padding: 10px;
  vertical-align: top;
  margin-top: 10px;
  font-size: 1.3rem;
  font-weight: 500;
}
.right-tab {
  text-align: left;
}
#msg,
#submit {
  text-align: center;
}
.input-field {
  width: 80%;
  padding: 16px;
  margin: 10px;
  border: 1px solid #ffffff;
  font-size: 1.3rem;
}

@media screen and (min-width: 768px) {
  .labels {
    width: 20vw;
  }
  .input-field {
    width: 60vw;
  }
}

@media screen and (min-width: 1024px) {
  .labels {
    width: 8vw;
  }
  .input-field {
    width: 60vw;
  }
}

.input-message {
  height: 5rem;
}
#submit {
  padding-top: 15px;
}
.btn-submit {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  margin: 3rem auto;
  color: #fff;
  position: relative;
  align-content: center;
  background-color: #08bc9a;
  border-bottom: 3px solid #088d74;
  font-weight: 700;
}
.btn-submit:active {
  top: 3px;
  outline: 0;
}
.btn-submit:hover {
  background-color: #01a183;
}

.service-section {
  margin-top: -2rem;
}
.service-section .item p {
  margin-bottom: 2rem;
}

.service-section .item {
  transition: none;
}

.fa-map-marker-alt,
.fa-phone-volume,
.fa-clock {
  font-size: 6rem;
  margin: 2rem auto;
  color: #0054b0;
}
