@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');

/*------------------------------------*\
  #Global Settings
\*------------------------------------*/

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: #000000;
}

p {
  line-height: 1.5;
  margin-bottom: 1em;
  margin-top: 1em;
  max-width: 60ch;
}

a {
  text-decoration: underline;
  border-bottom: none;
}

img,
video {
  max-width: 100%;
}

video {
  object-fit: contain;
  width: 100vw;
}

/*------------------------------------*\
  #Base - Headings
\*------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-family: 'Heebo', sans-serif;
  line-height: 1.3;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  font-weight: 700;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
}

h4 {
  font-size: 1.7rem;
  font-weight: 700;
}

h5 {
  font-size: 1.5rem;
  font-weight: 700;
}

h6 {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  font-family: 'Source Sans Pro';
}

cite,
var,
address,
dfn {
  font-style: normal;
}

p,
a,
li,
span {
  font-family: 'Source Sans Pro';
}

.hero-text {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0;
  color: inherit;
}

@media screen and (min-width: 768px) {
  .hero-text {
    font-size: 2.8rem;
    font-weight: 700;
  }
}

.section-lead {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7;
  max-width: 77rem;
  text-align: center;
  color: inherit;
}

/*------------------------------------*\
  #Wrappers
\*------------------------------------*/

/*------------------------------------*\
  #navbar
\*------------------------------------*/

.page-header {
  position: fixed;
  top: 0;
  z-index: 1;
}

.progress-bar {
  height: 0.25rem;
  background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    rgba(85, 88, 218, 1) 0%,
    rgba(95, 209, 249, 1) 100.2%
  );
  width: 0%;
  top: 1.2rem;
}

.navbar {
  width: 100vw;
  font-size: 1.1rem;
  background-color: #111111;
  color: #eeeeee;
  padding-bottom: 0.3rem;
  display: inline-block;
  text-align: center;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.active {
  display: flex;
  flex-direction: column;
  background-color: #111111;
  color: #eeeeee;
}

.nav-links,
.nav-links-search {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  position: relative;
  padding: 2rem;
  margin: -2rem;
}

.logo {
  background-image: url('../assets/nasa-logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 2.8rem;
  width: 6rem;
  margin-top: 0.2rem;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  margin-left: 20px;
}

.navbar-toggle-wrapper {
  position: absolute;
  top: 0.4rem;
  cursor: pointer;
  color: inherit;
}

.mobile-menu-left {
  left: 1rem;
  top: 1.2rem;
}

.mobile-search-right {
  right: 1rem;
  top: 1.2rem;
}

.nav-links-search {
  display: none;
}

.logo:hover,
.nav-links:hover,
.fa-bars:hover,
.fa-times:hover,
.fa-search:hover {
  color: paleturquoise;
}

.nav-links:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
    height: 3rem;
    align-items: center;
    font-size: 1.3rem;
  }

  .main-nav {
    display: flex;
    margin-right: 1.875rem;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-right: 1.5rem;
  }

  .logo {
    margin-top: 0;
    height: 2.8rem;
    width: 8rem;
  }

  .navbar-toggle-wrapper {
    visibility: hidden;
  }

  .nav-links-search {
    display: inline;
  }
}

/*------------------------------------*\
  #navbar-search
\*------------------------------------*/

.search-overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  text-align: center;
}

.search-form-wrapper {
  position: relative;
  width: 80vw;
  top: 20vh;
  text-align: center;
  margin-top: 30px;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: aliceblue;
}

.search-form-wrapper h2 {
  font-size: 2.1rem;
  margin-top: 2rem;
  margin-bottom: 1.6875rem;
  text-align: center;
  padding: 0px 1rem;
  color: inherit;
}

.btn-close-search {
  position: absolute;
  right: 1.3rem;
  top: 0.3rem;
  font-size: 2.25rem;
  cursor: pointer;
  color: white;
  display: inline-block;
  padding: 2rem;
  margin: -2rem;
}

.search-form-wrapper input[type='text'] {
  background-color: #eeeeee;
  padding: 18px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 18px;
  color: #555555;
  flex-basis: 100%;
  border: none;
  width: 60vw;
}

.search-form-wrapper input[type='text']:hover {
  background: #f1f1f1;
}

.search-form-wrapper input[type='text']:focus {
  background: #ffff;
}

.search-form-wrapper button {
  color: #ffffff;
  text-transform: capitalize;
  background-color: #2196f3;
  text-decoration: none;
  border: none;
  padding: 18px 42px;
  margin-top: 40px;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .search-form-wrapper {
    width: 50%;
  }

  .search-form-wrapper h2 {
    padding-bottom: 40px;
  }

  .search-form-wrapper input[type='text'] {
    width: 40vw;
  }

  .btn-close-search {
    right: 2rem;
    top: 0.6rem;
    font-size: 3.3rem;
  }
}

@media screen and (min-width: 1024px) {
  .search-options-wrapper {
    display: block;
  }
}

/*------------------------------------*\
  #page-hero
\*------------------------------------*/

.hero-container {
  overflow: hidden;
  width: 100vw;
  height: 95vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/footprint.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.cover-holder {
  margin: 0 auto;
  width: 90vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 6);
}

.cover-holder h1 {
  font-size: 1.5rem;
  color: #fffff0;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 2rem;
}

.cover-holder h1 span {
  display: block;
  font-weight: 700;
  font-size: 2.3rem;
  margin-top: 0.78rem;
  border-top: solid 2px #eeeeee;
  border-bottom: solid 2px #eeeeee;
}

.cover-holder h2 {
  font-size: 1.2rem;
  color: #fffff0;
  text-align: center;
  font-weight: 700;
}

.cover-holder a {
  display: block;
  margin: 1rem auto;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .cover-holder {
    width: 60vw;
  }

  .cover-holder h1 {
    font-size: 2rem;
  }

  .cover-holder h1 span {
    font-size: 4rem;
    padding: 2rem;
  }

  .cover-holder h2 {
    font-size: 2rem;
  }
}

.cta {
  padding: 15px 32px;
  font-size: 1.2rem;
  text-decoration: none;
  color: #ffffff;
  transition: background 0.2s ease;
  cursor: pointer;
  font-weight: 700;
}

.cta-primary {
  background: #2b98f0;
}

.cta-primary:hover {
  background: #005694;
}

/*------------------------------------*\
  #timeline
\*------------------------------------*/

.timeline {
  position: relative;
  width: 90vw;
  margin: 0 auto;
}

@media screen and (min-width: 800px) {
  .timeline {
    width: 50vw;
  }
}

.event-date {
  position: relative;
  float: left;
  text-align: left;
  width: 100%;
  color: #333333;
  vertical-align: middle;
  line-height: 20px;
  font-weight: 700;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  left: -7.5px;
  top: 0px;
}

@media screen and (min-width: 800px) {
  .event-date {
    left: 12.5px;
    width: 200px;
  }
}

.timeline-point {
  position: relative;
  float: left;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background: white;
  display: block;
  border: 5px solid #0054b0;
  margin-right: 7px;
}

@media screen and (min-width: 800px) {
  .timeline-point {
    float: right;
    margin-right: 0px;
  }
}

.event {
  padding-top: 50px;
  width: 100%;
  display: block;
}

.event_description {
  position: relative;
  float: left;
  display: block;
  width: 80vw;
  padding-top: 30px;
  padding-left: 40px;
  padding-bottom: 40px;
  border-left: 5px solid #0054b0;
}

.end .event_description {
  border-left: 5px solid transparent;
}

@media screen and (min-width: 800px) {
  .event_description {
    margin-top: 1rem;
    padding-top: 0px;
    padding-bottom: 15%;
    width: calc(100% - 250px);
  }
}

.timeline h1 {
  position: relative;
  top: -2rem;
  vertical-align: middle;
  font-size: 1.8rem;
  font-weight: 500;
  color: black;
}

.timeline h2 {
  position: relative;
  font-size: 1.4rem;
  font-weight: 400;
  color: gray;
}

.event-content {
  margin-top: 20px;
  margin-right: 20px;
  color: gray;
  font-weight: inherit;
  font-size: 1.2rem;
  display: none;
}

@media screen and (min-width: 800px) {
  .event-content {
    display: block;
  }
}

.news-read-more {
  color: #000000;
  display: block;
  margin-top: 16px;
  font-size: 1.2rem;
  text-decoration: underline;
  margin-right: auto;
  position: relative;
  cursor: pointer;
  font-weight: 400;
  font-style: italic;
  text-transform: capitalize;
}

/*------------------------------------*\
  #Wrappers
\*------------------------------------*/
.intro-wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #ffffff;
  display: block;
}

.intro-wrapper .img-profile {
  position: relative;
  top: -7rem;
  border-radius: 50%;
  margin: auto;
}

.intro-wrapper p {
  width: 80vw;
  margin-top: -3rem;
  font-size: 1.6rem;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

main {
  width: 100vw;
}

section {
  width: 100vw;
}

.text-container {
  text-align: center;
  background-color: #0054b0;
  width: 100vw;
  padding-top: 5rem;
  padding-bottom: 5rem;
  height: auto;
  color: #eeeeee;
}

.text-container h3 {
  padding: 5rem;
}

.text-container p {
  letter-spacing: 1px;
  color: #eeeeee;
  margin: 0 auto;
  text-align: center;
}

/*------------------------------------*\
  #news
\*------------------------------------*/
.section-news {
  background: #000000;
  color: white;
  padding-top: 3rem;
}

.section-news h3,
.section-news,
h4 {
  text-align: center;
  margin: 3rem auto;
}

.button-field {
  padding: 2rem 1rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.news-grid {
  list-style: none;
  margin: 0;
  padding: 0;
  background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    rgba(85, 88, 218, 1) 0%,
    rgba(95, 209, 249, 1) 100.2%
  );
}

@media (min-width: 600px) {
  .news-grid {
    display: flex;
    flex-wrap: wrap;
  }
}

.block {
  background: black;
  color: white;
  overflow: hidden;
  position: relative;
  margin: 1px;
  width: 100%;
  display: flex;
}

@media (min-width: 600px) {
  .block {
    flex-grow: 1;
    flex-shrink: 1;
    align-items: stretch;
  }
}

.block h1 {
  font-size: 1rem;
}

@media (min-width: 600px) {
  .block h1 {
    font-size: 1.25rem;
  }
}

.block:first-child {
  flex-direction: column;
}

@media (min-width: 600px) {
  .block:first-child {
    flex-direction: row;
  }
}

.block:first-child .block-hero {
  width: 100%;
}

.block:first-child h1 {
  font-size: 1.5rem;
}

@media (min-width: 600px) {
  .block:first-child h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 600px) {
  .block:first-child,
  .block:nth-child(4) {
    overflow: hidden;
    position: relative;
    flex-direction: row;
  }
}

@media (min-width: 1000px) {
  .block:first-child,
  .block:nth-child(4) {
    flex-basis: calc(70% - 1px * 2);
  }
}

.block:first-child .block-hero img,
.block:nth-child(4) .block-hero img {
  position: relative;
}

@media (min-width: 600px) {
  .block:first-child .block-hero img,
  .block:nth-child(4) .block-hero img {
    position: absolute;
  }
}

.block:first-child h1,
.block:nth-child(4) h1 {
  font-family: 'Oswald', sans-serif;
}

@media (min-width: 600px) {
  .block:nth-child(2),
  .block:nth-child(3) {
    flex-basis: calc(30% - 1px * 2);
    flex-direction: column;
  }
}

@media (min-width: 600px) {
  .block:nth-child(4) {
    flex-direction: row-reverse;
    text-align: right;
  }
}

.block:nth-child(4) h1 {
  font-size: 1rem;
}

@media (min-width: 600px) {
  .block:nth-child(4) h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 600px) {
  .block:nth-child(n + 5) {
    flex-basis: calc(30% - 1px * 2);
    flex-direction: column;
  }
}

.block .block-hero {
  width: 30%;
  float: left;
  position: relative;
}

@media (min-width: 600px) {
  .block .block-hero {
    width: 100%;
  }
}

.block .block-hero img {
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.block .block-body {
  width: 70%;
  float: left;
  flex-grow: 1;
  padding: 1rem;
}

@media (min-width: 600px) {
  .block .block-body {
    width: 100%;
  }
}

.btn-redirect {
  position: relative;
  font-size: 1.6rem;
  font-weight: 700;
  display: flex;
  text-transform: none;
  color: rgb(241, 134, 38);
  line-height: 38px;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  border-width: 4px;
  border-style: solid;
  border-color: rgb(241, 134, 38);
  border-image: initial;
  border-radius: 4px;
  padding: 1.25rem 1.1875rem;
  text-decoration: underline transparent;
  margin-left: auto;
  margin-right: auto;
}
