/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/roboto-v19-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
    url('fonts/roboto-v19-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/roboto-v19-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/roboto-v19-latin-regular.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/roboto-v19-latin-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/roboto-v19-latin-regular.svg#Roboto')
      format('svg'); /* Legacy iOS */
}
/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url('fonts/roboto-v19-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Italic'), local('Roboto-Italic'),
    url('fonts/roboto-v19-latin-italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/roboto-v19-latin-italic.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/roboto-v19-latin-italic.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/roboto-v19-latin-italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/roboto-v19-latin-italic.svg#Roboto')
      format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/roboto-v19-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
    url('fonts/roboto-v19-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/roboto-v19-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/roboto-v19-latin-500.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/roboto-v19-latin-500.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/roboto-v19-latin-500.svg#Roboto')
      format('svg'); /* Legacy iOS */
}
/* roboto-500italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 500;
  src: url('fonts/roboto-v19-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'),
    url('fonts/roboto-v19-latin-500italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/roboto-v19-latin-500italic.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/roboto-v19-latin-500italic.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/roboto-v19-latin-500italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/roboto-v19-latin-500italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/roboto-v19-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
    url('fonts/roboto-v19-latin-700.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/roboto-v19-latin-700.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/roboto-v19-latin-700.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/roboto-v19-latin-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/roboto-v19-latin-700.svg#Roboto')
      format('svg'); /* Legacy iOS */
}
/* roboto-700italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  src: url('fonts/roboto-v19-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'),
    url('fonts/roboto-v19-latin-700italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/roboto-v19-latin-700italic.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/roboto-v19-latin-700italic.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/roboto-v19-latin-700italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/roboto-v19-latin-700italic.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('fonts/roboto-v19-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black'), local('Roboto-Black'),
    url('fonts/roboto-v19-latin-900.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/roboto-v19-latin-900.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/roboto-v19-latin-900.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/roboto-v19-latin-900.ttf')
      format('truetype'),
    /* Safari, Android, iOS */ url('fonts/roboto-v19-latin-900.svg#Roboto')
      format('svg'); /* Legacy iOS */
}
/* roboto-900italic - latin */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 900;
  src: url('fonts/roboto-v19-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black Italic'), local('Roboto-BlackItalic'),
    url('fonts/roboto-v19-latin-900italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('fonts/roboto-v19-latin-900italic.woff2') format('woff2'),
    /* Super Modern Browsers */ url('fonts/roboto-v19-latin-900italic.woff')
      format('woff'),
    /* Modern Browsers */ url('fonts/roboto-v19-latin-900italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('fonts/roboto-v19-latin-900italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/*------------------------------------*\
  #Global Settings
\*------------------------------------*/

body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #ffffff;
  color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  font-family: 'Roboto', sans-serif;
}

p {
  line-height: 1.5;
  margin-bottom: 1em;
  margin-top: 1em;
  max-width: 60ch;
  padding: 1.8rem;
  text-align: left;
}

a {
  text-decoration: underline;
  border-bottom: none;
}

a:visited {
  color: inherit;
}

img,
video {
  max-width: 100%;
}

video {
  -o-object-fit: contain;
  object-fit: contain;
  width: 100vw;
}

/*------------------------------------*\
  #Base - Headings
\*------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  line-height: 1.3;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

h6 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-transform: capitalize;
  color: lightgray;
}

.hero-text {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0;
  color: inherit;
}

@media screen and (min-width: 768px) {
  .hero-text {
    font-size: 2.8rem;
    font-weight: 700;
  }
}

.section-lead {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7;
  max-width: 77rem;
  text-align: center;
  color: inherit;
}

/*------------------------------------*\
  #navbar
\*------------------------------------*/

.page-header {
  position: fixed;
  top: 0;
  z-index: 1;
}

.progress-bar {
  height: 0.5rem;
  background-color: #4caf50;
  width: 0%;
  top: 1.2rem;
}

.navbar {
  width: 100vw;
  height: auto;
  font-size: 1.1rem;
  background-color: #111111;
  color: #eeeeee;
  padding-bottom: 0.3rem;
  display: inline-block;
  text-align: center;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #111111;
  color: #eeeeee;
  margin-right: 1.5rem;
}

.nav-links,
.nav-links-search {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  position: relative;
  padding: 2rem;
  margin: -2rem;
}

.logo {
  background-image: url('../assets/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 3.5rem;
  width: 6rem;
  margin-top: 7px;
  margin-left: 20px;
  display: inline-block;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.navbar-toggle-wrapper {
  position: absolute;
  top: 0.4rem;
  cursor: pointer;
  color: inherit;
}

.mobile-menu-left {
  left: 1rem;
  top: 1.5rem;
}

.mobile-search-right {
  right: 1rem;
  top: 1.5rem;
}

.nav-links-search {
  display: none;
}

.logo:hover,
.nav-links:hover,
.fa-bars:hover,
.fa-times:hover,
.fa-search:hover {
  color: #02d9ff;
}

@media screen and (min-width: 768px) {
  .log {
    height: 3.8rem;
  }
  .mobile-menu-left,
  .mobile-search-right {
    top: 1.4rem;
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.3rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 1.3rem;
  }

  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 3rem !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-right: 1.5rem;
  }

  .logo {
    margin-top: 0;
    width: 8rem;
    height: 4.3rem;
    margin-left: 3rem;
  }

  .navbar-toggle-wrapper {
    visibility: hidden;
  }

  .nav-links-search {
    display: inline;
  }
}

/*------------------------------------*\
  #navbar-search
\*------------------------------------*/

.search-overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  text-align: center;
}

.search-form-wrapper {
  position: relative;
  width: 80vw;
  top: 20vh;
  text-align: center;
  margin-top: 30px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: aliceblue;
}

.search-form-wrapper h2 {
  font-size: 2.1rem;
  margin-top: 2rem;
  margin-bottom: 1.6875rem;
  text-align: center;
  padding: 0px 1rem;
  color: inherit;
}

.btn-close-search {
  position: absolute;
  right: 1.3rem;
  top: 0.3rem;
  font-size: 2.25rem;
  cursor: pointer;
  color: white;
  display: inline-block;
  padding: 2rem;
  margin: -2rem;
}

.btn-close-search:hover {
  color: #02d9ff;
}

.search-form-wrapper input[type='text'] {
  background-color: #eeeeee;
  padding: 18px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 18px;
  color: #555555;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  border: none;
  width: 60vw;
}

.search-form-wrapper input[type='text']:hover {
  background: #f1f1f1;
}

.search-form-wrapper input[type='text']:focus {
  background: #ffff;
}

.search-form-wrapper button {
  color: #ffffff;
  text-transform: capitalize;
  background-color: #2196f3;
  text-decoration: none;
  border: none;
  padding: 18px 42px;
  margin-top: 40px;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .search-form-wrapper {
    width: 50%;
  }

  .search-form-wrapper h2 {
    padding-bottom: 40px;
  }

  .search-form-wrapper input[type='text'] {
    width: 40vw;
  }

  .btn-close-search {
    right: 2rem;
    top: 0.6rem;
    font-size: 3.3rem;
  }
}

@media screen and (min-width: 1024px) {
  .search-options-wrapper {
    display: block;
  }
}

/*------------------------------------*\
  #search-screen
\*------------------------------------*/

.search-overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  text-align: center;
}

.search-form-wrapper {
  position: relative;
  width: 80vw;
  top: 15vh;
  text-align: center;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: aliceblue;
}

.search-form-wrapper h2 {
  font-size: 2.1rem;
  margin-top: 2rem;
  margin-bottom: 1.6875rem;
  text-align: center;
  padding: 0px 1rem;
  color: inherit;
}

.search-form-wrapper h3 {
  font-size: 1.6rem;
  margin-top: 5rem;
  margin-bottom: 1.3rem;
  text-align: center;
  color: inherit;
  display: none;
}

.popular-search-wrapper a {
  font-size: 1.367rem;
  margin-top: 1.5rem;
  color: #ffffff;
}

.popular-search-wrapper a:hover {
  color: #02d9ff !important;
}

.popular-search-wrapper .fa-search {
  margin-right: 0.4rem;
}

.popular-search-wrapper {
  display: none;
}

@media screen and (min-width: 768px) {
  .search-form-wrapper {
    top: 20vh;
    width: 100vw;
  }
  .popular-search-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-item-align: auto;
    align-self: auto;
    font-size: 1rem;
    text-decoration: underline;
    margin-top: 1rem;
  }

  .search-form-wrapper h3 {
    display: block;
  }
}

.btn-close-search {
  position: absolute;
  right: 1.3rem;
  top: 0.3rem;
  font-size: 2.25rem;
  cursor: pointer;
  color: white;
  display: inline-block;
  padding: 2rem;
  margin: -2rem;
}

.search-form-wrapper input[type='text'] {
  background-color: #eeeeee;
  padding: 18px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 18px;
  color: #555555;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  border: none;
  width: 60vw;
}

.search-form-wrapper input[type='text']:hover {
  background: #f1f1f1;
}

.search-form-wrapper input[type='text']:focus {
  background: #ffff;
}

.search-form-wrapper button {
  color: #ffffff;
  text-transform: capitalize;
  background-color: #2196f3;
  text-decoration: none;
  border: none;
  padding: 18px 42px;
  margin-top: 40px;
  font-size: 1.125rem;
  font-weight: 700;
}

.search-form-wrapper button:hover {
  background-color: #005694;
}

@media screen and (min-width: 768px) {
  .search-form-wrapper {
    width: 55%;
  }

  .search-form-wrapper h2 {
    padding-bottom: 40px;
  }

  .search-form-wrapper input[type='text'] {
    width: 40vw;
  }

  .btn-close-search {
    right: 2rem;
    top: 0.6rem;
    font-size: 3.3rem;
  }
}

@media screen and (min-width: 1024px) {
  .search-options-wrapper {
    display: block;
  }
  .search-form-wrapper {
    width: 80%;
  }

  @media screen and (min-width: 1560px) {
    .search-options-wrapper {
      display: block;
    }
    .search-form-wrapper {
      width: 60%;
    }
  }
}

/*------------------------------------*\
  #page-hero
\*------------------------------------*/

.hero-container {
  overflow: hidden;
  width: 100vw;
  height: 95vh;
  background-color: #0054b0;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.6)),
      to(rgba(0, 0, 0, 0.6))
    ),
    url(../assets/footprint.jpg);
  background-image: -webkit-linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url(../assets/footprint.jpg);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../assets/footprint.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../assets/footprint.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cover-holder {
  margin: 0 auto;
  width: 90vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cover-holder h1 {
  font-size: 1.5rem;
  color: #ffffff;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  margin-bottom: 2rem;
}

.cover-holder h1 span {
  display: block;
  font-weight: 700;
  font-size: 2.3rem;
  margin-top: 0.78rem;
  border-top: solid 2px #eeeeee;
  border-bottom: solid 2px #eeeeee;
}

.cover-holder h2 {
  font-size: 1.2rem;
  color: #ffffff;
  text-align: center;
  font-weight: 500;
}

.cover-holder a {
  display: block;
  margin: 1rem auto;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .cover-holder {
    width: 60vw;
  }

  .cover-holder h1 {
    font-size: 2rem;
  }

  .cover-holder h1 span {
    font-size: 4rem;
    padding: 2rem;
  }

  .cover-holder h2 {
    font-size: 2rem;
  }
}

.cta {
  padding: 15px 32px;
  font-size: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  background: #2b98f0;
  color: #ffffff !important;
}

.cta:hover {
  background: #005694;
}

main {
  width: 100vw;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

section {
  width: 100vw;
}

.section-title {
  text-align: left;
  color: #0054b0;
  width: 80vw;
  padding-top: 5rem;
  height: auto;
  margin: 0 auto;
}

.section-title h2 {
  font-size: 2.2rem;
  font-weight: 700;
}

/*------------------------------------*\
  #intro-section
\*------------------------------------*/
.intro-wrapper {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  margin-top: 15rem;
}

.index-intro {
  margin-top: 0;
}

.sub-page-intro {
  margin-top: -5rem;
  text-align: left;
  position: relative;
  margin-left: 10vw;
  margin-right: auto;
  text-align: left;
  width: 80vw;
  color: #0054b0;
  font-weight: 900;
  font-size: 2.5rem;
  margin-bottom: 5rem;
}

.sub-page-about {
  padding: 0px;
  margin-top: -3rem;
  font-size: 1.5rem;
  margin-bottom: 6rem;
  margin-left: 10vw;
  margin-right: auto;
  text-align: left;
  width: 80vw;
  line-height: 2;
  font-size: 1.8rem;
  font-weight: 400;
}

.intro-wrapper .img-profile {
  position: relative;
  top: -7rem;
  border-radius: 50%;
  margin: auto;
}

.lead-content {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80vw;
  color: #0054b0;
  font-weight: 700;
  font-size: 2.2rem;
  margin-bottom: 5rem;
}

.intro-wrapper .about-text {
  margin-top: -3rem;
  font-size: 1.5rem;
  margin-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 80vw;
  font-weight: 400;
  line-height: 2;
}

.features-flex {
  margin: 5rem auto;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.features-flex .item {
  padding: 0.5em 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 3rem;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 3px solid #0054b0;
  margin: 26px auto;
  width: 80vw;
}

.features-flex .item a {
  color: #000;
  font-weight: 700;
  text-decoration: none;
}

.features-flex .item a:hover {
  cursor: pointer;
}

.features-flex h3 {
  font-size: 2rem;
}

.features-flex .item a:hover h3 {
  text-decoration: underline;
}

.features-flex p {
  font-size: 1.3rem;
  padding: 0;
  text-align: center;
  margin: 0 auto;
}

.fa-user-astronaut,
.fa-newspaper,
.fa-rocket {
  font-size: 6rem;
  margin-top: 1rem;
  color: #0054b0;
}

.read-more-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.features-flex button {
  font-size: 1.5rem;
  font-weight: 500;
  background: transparent;
  border: none;
  padding: 1rem;
  color: #0054b0;
  margin: 18px auto;
}

.features-flex button .fa-arrow-right {
  margin-left: 1rem;
}

.features-flex .item a:hover .fa-arrow-right {
  -webkit-animation: arrowSlide 1s ease-in-out infinite;
  animation: arrowSlide 1s ease-in-out infinite;
  margin-left: 9px;
}

.features-flex .item a:hover .btn-view-more {
  cursor: pointer;
}

@-webkit-keyframes arrowSlide {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
}

@keyframes arrowSlide {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
}

@media screen and (min-width: 1024px) {
  .features-flex {
    width: 80vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .features-flex .item {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(33.33333% - 2em);
    flex: 0 1 calc(33.33333% - 2em);
  }
}

.intro-video {
  display: none;
}

@media screen and (min-width: 768px) {
  .intro-video {
    display: block;
    width: 80vw;
    margin: 0 auto;
  }
}

/*------------------------------------*\
  #related-articles-section
\*------------------------------------*/

.articles-flex {
  margin: 5rem auto;
  margin-bottom: 10rem;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 12px;
  padding-bottom: 50px;
}

.article-item {
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100%);
  flex: 0 0 calc(100%);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.article-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.3)),
    to(rgba(0, 0, 0, 0.9))
  );
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9));
  background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9));
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.9));
  z-index: 0;
}

.article-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.article-media {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  transition: -webkit-transform 3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  z-index: -1;
}

.article-content {
  position: absolute;
  bottom: 0px;
  padding: 16px;
  color: white;
  font-size: 1.3rem;
  width: 100vw;
}

.article-title {
  -webkit-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
  margin-bottom: 0px;
  font-weight: 700;
  font-size: 1.3rem;
  text-align: left;
  color: #ffffff;
  position: relative;
  text-transform: capitalize;
  width: 50vw;
}

@media (min-width: 768px) {
  .article-title {
    width: 30%;
  }
}

.article-description {
  height: 2.5vh;
  width: 100vw;
}

.article-description p {
  padding: 0;
  margin: 0;
  display: none;
}

.article-read-more {
  color: #ffffff;
  display: block;
  margin-top: 16px;
  font-size: 1.3rem;
  text-decoration: underline;
  margin-right: auto;
  position: relative;
  z-index: 5;
  cursor: pointer;
  font-style: italic;
  text-transform: capitalize;
  -webkit-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.article-item:hover .article-title {
  color: #02d9ff;
  background-color: rgba(0, 0, 0, 0.7);
}
.article-item:hover .article-read-more {
  color: #02d9ff;
  font-size: 1.5rem;
  text-decoration: none;
}

.article-item:hover .article-content {
  background-color: rgba(0, 0, 0, 0.7);
}
.article-item:hover .article-media {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.article-item:hover .article-description {
  max-height: 70vh;
  opacity: 1;
}
@media (min-width: 900px) {
  .article-title {
    width: 35%;
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .article-item {
    height: 380px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(50% - 1em);
    flex: 0 1 calc(50% - 1em);
  }
}

/*------------------------------------*\
  #form-submitted-screen
\*------------------------------------*/

.form-submitted-screen-intro {
  background-color: #0054b0;
  padding: 13rem 0 0rem 0;
  margin-top: 0;
}

@media (min-width: 768px) {
  .form-submitted-screen-intro {
    padding: 15rem 0 3rem 0;
  }
}

.form-submitted-screen-intro h1,
.form-submitted-screen-intro h2 {
  color: #ffffff;
}

.form-submitted-screen-intro h1 {
  font-weight: 700;
}
.form-submitted-screen-intro h2 {
  font-size: 1.5rem;
  text-transform: initial;
}
/*------------------------------------*\
  #footer
\*------------------------------------*/

.footer-container {
  background-color: #000000;
  color: #ffffff;
  margin: 0px auto;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.copyright {
  margin: 30px auto;
  text-align: center;
  color: #ffffff;
  width: 100vw;
}
.copyright-text {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 2rem;
}
.social-media-bar {
  text-align: center;
  margin: 30px auto;
  display: block;
  color: #ffffff;
  width: 100vw;
}

.social-media-icons {
  text-align: center;
  margin: 30px auto;
}

.social-media-icons ul {
  padding: 0;
}

.social-media-icons li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.social-media-icons li {
  display: inline-block;
  margin-left: 5px;
}

.social-media-icons a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: #616163;
  color: #ffffff;
  border-radius: 50px;
}

.a-twitter:hover {
  background-color: #1da1f2;
}

.a-facebook:hover {
  background-color: #3b5998;
}

.a-instagram:hover {
  background-color: #f46f30;
}

.a-snapchat:hover {
  background-color: #ffdc7d;
}
