@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

/*------------------------------------*\
  #Global Settings
\*------------------------------------*/

html {
    font-family: Merriweather;
    font-size: 10px;
}

body {
    font-size: 1.7rem;
}

p {
    line-height: 1.5;
    margin-bottom: 1em;
    margin-top: 1em;
    max-width: 60ch;
}

a {
    text-decoration: underline;
    border-bottom: none;
}

/*------------------------------------*\
  #Base - Headings
\*------------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-family: "Merriweather", "Georgia", "Cambria", "Times New Roman", "Times", serif;
    line-height: 1.3;
    margin-bottom: 0.5em;
    margin-top: 1.5em;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
}

h2 {
    font-size: 3rem;
    font-weight: 700;
}

h3 {
    font-size: 2rem;
    font-weight: 700;
}

h4 {
    font-size: 1.7rem;
    font-weight: 700;
}

h5 {
    font-size: 1.5rem;
    font-weight: 700;
}

h6 {
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    font-family: "Source Sans Pro";
}

cite,
var,
address,
dfn {
    font-style: normal;
}

p,
a,
li,
span {
    font-family: "Source Sans Pro";
}

.hero-text {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0;
}

@media screen and (min-width: 481px) {
    .hero-text {
        font-size: 4rem;
        font-weight: 700;
    }
}

@media screen and (min-width: 600px) {
    .hero-text {
        font-size: 5.2rem;
        font-weight: 700;
    }
}

.section-lead {
    font-family: "Merriweather";
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.7;
    max-width: 77rem;
}

/*------------------------------------*\
  #Wrappers
\*------------------------------------*/

/*------------------------------------*\
  #Components
\*------------------------------------*/

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 2vw;
    background-color: #111111;
    padding-bottom: 10px;
    z-index: 1;
}

.main-nav {
    list-style-type: none;
    display: none;
}

.active {
    display: block;
}

.nav-links,
.logo,
.nav-links-search {
    text-decoration: none;
    color: #999999;
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 1.5vw;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 2.2vw;
}

.navbar-fas:first-child {
    margin-right: 10px;
}

.nav-links-search {
    display: none;
}

.logo:hover,
.nav-links:hover {
    color: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 50px;
        align-items: center;
        font-size: 1.5vw;
    }

    .main-nav {
        display: flex;
        margin-right: 30px;
        flex-direction: row;
        justify-content: flex-end;
    }

    .main-nav li {
        margin: 0;
    }

    .nav-links {
        margin-left: 40px;
    }

    .logo {
        margin-top: 0;
    }

    .navbar-toggle {
        visibility: hidden;
    }

    .nav-links-search {
        display: inline;
        margin-left: 20px;
    }
}