.search-page-hero {
  background-color: #edf4ff;
}

/*------------------------------------*\
  #search-form
\*------------------------------------*/

.search-form-container {
  margin: 4rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.search-form-title {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100vw;
}

.search-form-title h1 {
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 900;
  color: #0054b0;
  margin-top: 3rem;
  width: 90vw;
}

@media (min-width: 1280px) {
  .search-form-title h1 {
    font-size: 1.8rem;
    padding: 40px;
  }
}

.btn-search {
  color: #ffffff;
  text-transform: capitalize;
  background-color: #2196f3;
  text-decoration: none;
  border: none;
  padding: 18px 42px;
  margin-top: 1.3rem;
  font-size: 18px;
}

.btn-search:hover {
  background-color: #005694;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  margin-top: 20px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.search-form input {
  background-color: #ffffff;
  padding: 18px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 18px;
  color: #555555;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  border: none;
  width: 80vw;
}

.search-form input:focus {
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .search-form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    align-items: stretch;
    -webkit-box-pack: stretch;
    -ms-flex-pack: stretch;
  }

  .search-form input {
    margin-right: 30px;
    -ms-flex-preferred-size: 75%;
    flex-basis: 50%;
    margin: 0 0 20px 0;
    width: 50vw;
  }

  .search-form input {
    margin-right: 30px;
    -ms-flex-preferred-size: 75%;
    flex-basis: 50%;
    margin: 0 0 20px 0;
    width: 40vw;
  }

  .btn-search {
    margin-top: 0px;
    -ms-flex-item-align: start;
    align-self: flex-start;
  }
}

/*------------------------------------*\
  #search-result
\*------------------------------------*/
.search-results {
  height: 100vh;
}
.search-results-lead {
  font-size: 1.3rem;
  width: 80vw;
  margin-left: 1rem;
  padding-top: 3rem;
  text-transform: none;
}

.search-results-wrapper {
  margin: 0 auto;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 12px;
  padding-bottom: 50px;
}

@media (min-width: 768px) {
  .search-results-wrapper {
    width: 80vw;
  }
  .search-results-lead {
    margin-left: auto;
  }
}

.search-result {
  margin: 20px auto;
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 calc(100%);
  flex: 0 0 calc(100%);
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  height: 300px;
}

.search-result::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 0.3)),
    to(rgba(0, 0, 0, 0.3))
  );
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  background: -o-linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
  z-index: 0;
}

.search-result-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.search-result-media {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
  transition: -webkit-transform 3s ease;
  -o-transition: transform 3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  z-index: -1;
}

.search-result-content {
  position: absolute;
  bottom: 0px;
  padding: 16px;
  color: white;
  font-size: 1.2em;
  width: 100%;
}

.search-result-title {
  -webkit-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 1.2rem;
  width: 80%;
}

.search-result-description {
  max-height: 0;
  opacity: 0;
  -webkit-transition: max-height 1.5s ease, opacity 1s ease;
  -o-transition: max-height 1.5s ease, opacity 1s ease;
  transition: max-height 1.5s ease, opacity 1s ease;
  text-align: left;
}

.search-read-more {
  color: #ffffff;
  display: block;
  margin-top: 16px;
  font-size: 0.8em;
  text-decoration: underline;
  margin-right: auto;
  position: relative;
  z-index: 5;
  cursor: pointer;
  font-style: italic;
  text-transform: capitalize;
}

.search-result:hover .search-result-description {
  max-height: 70vh;
  opacity: 1;
}
.search-result:hover .search-result-title,
.search-read-more {
  color: #02d9ff;
}
.search-result:hover .search-result-content {
  background-color: rgba(0, 0, 0, 0.7);
}

.search-result:hover .search-result-media {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

@media (min-width: 900px) {
  .search-result {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(50% - 1em);
    flex: 0 1 calc(50% - 1em);
  }
}

@media (min-width: 1400px) {
  .search-result {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(25% - 1em);
    flex: 0 1 calc(25% - 1em);
  }
}

/*------------------------------------*\
  #search-screen
\*------------------------------------*/

.search-overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000000;
  text-align: center;
}

.search-form-wrapper {
  position: relative;
  width: 80vw;
  top: 15vh;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: aliceblue;
}

.search-form-wrapper h2 {
  font-size: 2.1rem;
  margin-top: 2rem;
  margin-bottom: 1.6875rem;
  text-align: center;
  padding: 0px 1rem;
  color: inherit;
}

.search-form-wrapper h3 {
  font-size: 1.6rem;
  margin-top: 5rem;
  margin-bottom: 1.3rem;
  text-align: center;
  color: inherit;
  display: none;
}

.popular-search-wrapper a {
  font-size: 1.367rem;
  margin-top: 1.5rem;
}

.popular-search-wrapper .fa-search {
  margin-right: 0.4rem;
}

.popular-search-wrapper {
  display: none;
}

@media screen and (min-width: 768px) {
  .search-form-wrapper {
    top: 20vh;
    width: 100vw;
  }
  .popular-search-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-self: auto;
    font-size: 1rem;
    text-decoration: underline;
    margin-top: 1rem;
  }

  .search-form-wrapper h3 {
    display: block;
  }
}

.btn-close-search {
  position: absolute;
  right: 1.3rem;
  top: 0.3rem;
  font-size: 2.25rem;
  cursor: pointer;
  color: white;
  display: inline-block;
  padding: 2rem;
  margin: -2rem;
}

.search-form-wrapper input[type='text'] {
  background-color: #eeeeee;
  padding: 18px;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 18px;
  color: #555555;
  flex-basis: 100%;
  border: none;
  width: 60vw;
}

.search-form-wrapper input[type='text']:hover {
  background: #f1f1f1;
}

.search-form-wrapper input[type='text']:focus {
  background: #ffff;
}

.search-form-wrapper button {
  color: #ffffff;
  text-transform: capitalize;
  background-color: #2196f3;
  text-decoration: none;
  border: none;
  padding: 18px 42px;
  margin-top: 40px;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .search-form-wrapper {
    width: 55%;
  }

  .search-form-wrapper h2 {
    padding-bottom: 40px;
  }

  .search-form-wrapper input[type='text'] {
    width: 40vw;
  }

  .btn-close-search {
    right: 2rem;
    top: 0.6rem;
    font-size: 3.3rem;
  }
}

@media screen and (min-width: 1024px) {
  .search-options-wrapper {
    display: block;
  }
  .search-form-wrapper {
    width: 80%;
  }

  @media screen and (min-width: 1560px) {
    .search-options-wrapper {
      display: block;
    }
    .search-form-wrapper {
      width: 60%;
    }
  }
}

/*------------------------------------*\
  #loader
\*------------------------------------*/

#js-loader {
  width: 5rem;
  height: 5rem;
  border: 5px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;
  margin: 3rem auto;
  display: block;
  animation: loader 1s infinite linear;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#js-loader .visible {
  display: block;
}
